<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitHub Contributions</title>
  <link rel="stylesheet" href="/home.css">
  <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-github-512.png">
</head>
<body>
    <h1>Enter your GitHub username</h1>
    <form action="/fetch" method="post">
      <input type="text" name="username" placeholder="Enter your GitHub username" required>
      <button type="submit">Fetch Profile Details and Contribution Graph</button>
    </form>
</body>
</html>